discord~=2.3.2
numpy~=1.26.3
wikipedia~=1.4.0
sympy~=1.12
wordcloud~=1.9.3
matplotlib~=3.8.2
openai~=1.10.0
elevenlabs~=0.2.27
peewee~=3.17.0
PySimpleGUI~=4.60.5
deepface~=0.0.83
tensorflow
translate~=3.6.1
beautifulsoup4~=4.12.3
requests~=2.31.0